<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <Mozg_Jamef>
            <version>1.0.0</version>
        </Mozg_Jamef>
    </modules>
    <global>
        <models>
            <mozg_jamef>
                <class>Mozg_Jamef_Model</class>
                <resourceModel>mozg_jamef_resource</resourceModel>
            </mozg_jamef>
            <mozg_jamef_resource>
                <class>Mozg_Jamef_Model_Resource</class>
            </mozg_jamef_resource>
        </models>
        <helpers>
            <mozg_jamef>
                <class>Mozg_Jamef_Helper</class>
            </mozg_jamef>
        </helpers>
        <blocks>
            <mozg_jamef>
                <class>Mozg_Jamef_Block</class>
            </mozg_jamef>
        </blocks>
        <resources>
            <mozg_jamef_setup>
                <setup>
                    <module>Mozg_Jamef</module>
                    <class>Mozg_Jamef_Model_Resource_Setup</class>
                </setup>
            </mozg_jamef_setup>
        </resources>
        <template>
        </template>
        <events>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Jamef after="Mage_Adminhtml">Mozg_Jamef_Adminhtml</Mozg_Jamef>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_Jamef>
                    <files>
                        <default>Mozg_Jamef.csv</default>
                    </files>
                </Mozg_Jamef>
            </modules>
        </translate>
        <events>
        </events>
        <layout>
            <updates>
                <mozg_jamef>
                    <file>mozg_jamef.xml</file>
                </mozg_jamef>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mozg_jamef>
                    <file>mozg_jamef.xml</file>
                </mozg_jamef>
            </updates>
        </layout>
        <routers>
            <mozg_jamef>
                <use>standard</use>
                <args>
                    <module>Mozg_Jamef</module>
                    <frontName>mozg_jamef</frontName>
                </args>
            </mozg_jamef>
        </routers>
        <events>
        </events>
        <translate>
            <modules>
                <Mozg_Jamef>
                    <files>
                        <default>Mozg_Jamef.csv</default>
                    </files>
                </Mozg_Jamef>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <mozg_jamef>
                <!-- BASE -->
                <model>Mozg_Jamef_Model_Carrier</model>
                <active>0</active>
                <sort_order>820</sort_order>
                <title>Jamef (powered by MOZG)</title>
                <allowed_methods>1,2</allowed_methods>
                <free_method></free_method>
                <!--<max_package_weight>600</max_package_weight>-->
                <handling_type>F</handling_type>
                <!--<handling_action>O</handling_action>-->
                <handling_fee>0</handling_fee>
                <showmethod>1</showmethod>
                <debug>1</debug>
                <sallowspecific>1</sallowspecific>
                <specificcountry>BR</specificcountry>
                <!-- DEFAULT -->
                <product_attribute_width>ship_width</product_attribute_width>
                <product_attribute_length>ship_length</product_attribute_length>
                <product_attribute_height>ship_height</product_attribute_height>
                <unit_of_measure>KGS</unit_of_measure>
                <prazo_entrega>1</prazo_entrega>
                <msgprazo>%s - Em média %d dia(s)</msgprazo>
                <display_result_error>1</display_result_error>
                <!-- DEFAULT -->
                <tipo_produto>000004</tipo_produto>
                <remetente_cnpj>12417449000139</remetente_cnpj>
                <filial_coleta>07</filial_coleta>
                <municipio_origem>Sao Paulo</municipio_origem>
                <estado_origem>SP</estado_origem>
            </mozg_jamef>
        </carriers>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Mozg_Jamef/>
            </modules>
        </suite>
    </phpunit>
</config>
